<!DOCTYPE html>
<html lang="en">

<!-- Dentro da tag head colocamos informações importantes para a página mas que não serão exibidas -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compre Mortal Kombat 11 Ultimate já!</title>
</head>

<!-- Na tag Body colocamos as informaçoes que serão exibidas na página e recursos que são usados na exibição -->

<body>

    <!-- Usamos a tag Div para dividir nossa página em vários blocos menores. Usamos esses blocos para reposicionar, alterar o tamanho, cores e outros detalhes do seu conteúdo -->

    <!-- Bloco para o título -->
    <div>
        <h1>Compre Mortal Kombat 11 Ultimate já!</h1>
    </div>

    <!-- Bloco para texto e imagem -->
    <div>

        <div>
            <!-- Usamos a tag Img para adicionar imagens na página -->
            <img src="../../public/images/mk_comprar.jpeg">
        </div>

        <div>
            <h3>Uma experiência nova e brutal! Novos e velhos personagens incluindo Robocop, Rambo e o Exterminador do
                Futuro!</h3>
        </div>

    </div>

    <!-- Bloco para o formulário -->
    <div>

        <!-- Usamos a tag Form para indicar o início e fim de um formulário -->
        <form>

            <div>
                <label for="nome">Nome</label>
                <input type="text" id="nome" placeholder="Informe seu nome completo">
            </div>

            <div>
                <label for="email">E-mail</label>
                <input type="email" id="email" placeholder="Informe seu e-mail">
                <small id="emailHelp">Suas informações estão seguras e não serão divulgadas para ninguém.</small>
            </div>

            <div>
                <input type="checkbox" id="receiveMarketing">
                <label for="receiveMarketing">Deseja receber e-mails sobre promoções e novos produtos?</label>
            </div>

            <div>
                <button type="submit">Comprar!</button>
            </div>

        </form>

    </div>

</body>

</html>